body {
  background-color: #444c4f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
  font-style: italic;
  color: #ECECF4;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

p{
  font-size: larger;
  padding-left: 1em;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 1.5em;
  
}

a {
  color:  #ECECF4;
  text-decoration: none;
}

strong {
  font-size: 2em;
}

.header {
  font-size: x-large;
}

.chefs-hat {
  width: 500px;
  height: auto;
}

.food {
  width: 600px;
  height: auto;
  border-radius: 6px;
  border-style: outset;
  border-width: 2px;
  border-color: black;
  justify-content: center;
  align-items: center;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.subHead {
  text-align: center;
}
